@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Urban Heroes';
    src: url("/static/fonts/Urban\ Heroes.ttf");
}


body{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;

}